<div>
  <nav class="navbar navbar-inverse" id='nav'>
    <div class="container-fluid">
      <div class="navbar-header">

        <a class="navbar-brand">MusicPrj</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a ng-click='vm.reset()'>Reset Music Directory</a></li>
      </ul>
      <form class="navbar-form navbar-left" ng-submit='vm.setRoom(vm.room)' ng-hide='vm.socketRoom'>
        <input type="text" class="form-control" ng-model='vm.room' name='socketRoom' placeholder='Enter a channel'>
        <input class="btn btn-default" type='submit' value='Submit'>
      </form>
      <div class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" ng-model='vm.state.search'>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav navbar-right" ng-show='vm.socketRoom' ng-click='vm.socketRoom = !vm.socketRoom'>
          <li><a href="#">{{vm.room}}</a></li>
        </ul>
      </div>
    </div>
  </nav>

<main id="main">

  <div ng-hide='vm.list.length > 0'>
    <ul>
      <li> 1. <input class="btn btn-default btn-file" type="file" id='file' webkitdirectory directory multiple ></li>
      <li>2. Enter a channle name above</li>
    </ul>

  </div>

  <nav ng-if='vm.list.length > 0'>
    <table class="table table-striped table-hover ">
      <thead >
        <tr class='col-lg-12 sp' id='topbar'>
          <th ng-click='vm.orderby("title")' ng-class='{"focus": vm.state.order === "title"}'>Title</th>
          <th ng-click='vm.orderby("artist")' ng-class='{"focus": vm.state.order === "artist"}'>Artist</th>
          <th ng-click='vm.orderby("album")' ng-class='{"focus": vm.state.order === "album"}'>Album</th>
          <th ng-click='vm.orderby("genre")' ng-class='{"focus": vm.state.order === "genre"}'>Genre</th>
        </tr>
      </thead>
      <tbody ng-repeat='music in vm.list | orderBy: vm.state.order | filter: vm.state.search as filtered' >
        <div id='nick' value='{{filtered.length}}'></div>
        <tr ng-click='vm.playSong({command: "play", path: music.path, index: music.index, pageIndex: $index})'
        id={{$index}} path={{music.path}} index={{music.index}}
        ng-class='{"playing": vm.state.music.index === music.index}'>
          <td>{{music.title}}</td>
          <td ng-repeat='artist in music.artist'>{{artist}}</td>
          <td>{{music.album}}</td>
          <td ng-repeat='genre in music.genre'>{{genre}}</td>
        </tr>
      </tbody>
    </table>
  </nav>
  <audio  id='audio' controls >
    <source src="" type="audio/ogg">
      <source src="" type="audio/mpeg">
        Your browser does not support the audio tag.
      </audio>
</div>

</main>

<style>
  input.btn, input.form-control{
    border: red solid 1px;
  }
  #nav{
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
  }
  #main{
    margin-top: 60px;
  }
  .focus{
    color: red;
  }
  .playing{
    color:red;
  }
  #audio{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
  }

</style>
