<div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">

        <a class="navbar-brand" href="#">MusicPrj</a>
      </div>
      <form class="navbar-form navbar-left" ng-submit='vm.setRoom(vm.room)' ng-hide='vm.socketRoom'>
        <input type="text" class="form-control" ng-model='vm.room' name='socketRoom' placeholder='Enter a channel'>
        <input class="btn btn-default" type='submit' value='Submit'>
      </form>
      <div class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" ng-model='searchBy[vm.search]'>
        </div>
      </div>
      <!-- <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Search By<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ng-click='vm.search ="$"'>All</a></li>
            <li><a ng-click='vm.search ="title"'>Title</a></li>
            <li><a ng-click='vm.search ="artist"'>Artist</a></li>
            <li><a ng-click='vm.search ="album"'>Album</a></li>
            <li><a ng-click='vm.search ="genre"'>Genre</a></li>
          </ul>
        </li>
      </ul> -->
      <audio class='nav navbar-nav' id='audio' controls ng-hide='true'>
        <source src="" type="audio/ogg">
        <source src="" type="audio/mpeg">
        Your browser does not support the audio tag.
      </audio>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav navbar-right" ng-show='vm.socketRoom' ng-click='vm.socketRoom = !vm.socketRoom'>
          <li><a href="#">{{vm.room}}</a></li>
        </ul>
      </div>
    </div>
  </nav>
<main id="main">

    <input class="btn btn-default btn-file" type="file" id='file' webkitdirectory directory multiple ng-hide='vm.list.length > 0'>

  <nav ng-if='vm.list.length > 0'>
    <table class="table table-striped table-hover ">
      <thead>
        <tr class='col-lg-12 sp'>
          <th ng-click='vm.orderby("title")' ng-class='{"focus": vm.order === "title"}'>Title</th>
          <th ng-click='vm.orderby("artist")' ng-class='{"focus": vm.order === "artist"}'>Artist</th>
          <th ng-click='vm.orderby("album")' ng-class='{"focus": vm.order === "album"}'>Album</th>
          <th ng-click='vm.orderby("genre")' ng-class='{"focus": vm.order === "genre"}'>genre</th>
        </tr>
      </thead>
      <tbody ng-repeat='music in vm.list | orderBy: vm.order | filter: searchBy[vm.search] as filtered' >
        <div id='nick' value='{{filtered.length}}'></div>
        <tr ng-click='vm.playSong({command: "play", path: music.path, index: music.index, pageIndex: $index})'
        id={{$index}} path={{music.path}} index={{music.index}}
        ng-class='{"playing": vm.playing.index === music.index}'>
          <td>{{music.title}}</td>
          <td ng-repeat='artist in music.artist'>{{artist}}</td>
          <td ng-repeat='genre in music.genre'>{{genre}}</td>
          <td>{{music.album}}</td>
        </tr>
      </tbody>
    </table>
  </nav>
</div>
</main>

<style>
  input.btn, input.form-control{
    border: red solid 1px;
  }
  .focus{
    color: red;
  }
  .playing{
    color:red;
  }
</style>
